<!doctype html>
<html lang="en">
  <head>
  <style type="text/css">
    html {
      background: url(https://s3.amazonaws.com/mbdraftchallenge/picks_overlay_75.jpg) no-repeat center fixed;
      background-size: cover;
    }
  </style>
    <title>MB Draft Challenge</title>
    <!-- For reCaptcha -->
    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : 'your_site_key'
        });
      };
    </script>
  </head>

  <body>

    <%= render 'layouts/jumbotron' %>

    <div class="row">
      <div class="container">
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-4 col-lg-4">
          <h3>Left Div Box Headline Text</h3>
          <h4>Some text here...</h4>
          <p>Even more text here...</p>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-4 col-lg-4">
          <h3>Mid Div Box Headline Text</h3>
          <h4>Some text here...</h4>
          <p>Even more text here...</p>
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-4 col-lg-4">
          <h3>Right Div Box Headline Text</h3>
          <h4>Some text here...</h4>
          <p>Even more text here...</p>
        </div>
      </div>
    </div>

    <hr>

   <div class="row">
      <div class="container">
        <footer>
          <p align="center"><a href="https://www.millionairebracketfantasyfootball.com/">Millionaire Bracket Fantasy Football League Inc.</a></p>
          <p align="center">Contact information: <a href="mailto:someone@example.com">someone@millionairebracket.com</a>.</p>

          <p align="center"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>  <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>  <i class="fa fa-twitter fa-3x" aria-hidden="true"></i></p>
        </footer>
      </div>
    </div>

  </body>
</html>
