<!doctype html>
<html lang="en">
  <head>
  <style type="text/css">
    html {
      background: url(https://s3.amazonaws.com/mbdraftchallenge/picks_overlay_75.jpg) no-repeat center fixed;
      background-size: cover;
    }
  </style>
    <title>MB Draft Challenge</title>
    <!-- For reCaptcha -->
    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : 'your_site_key'
        });
      };
    </script>
  </head>

  <body>

    <%= render 'layouts/jumbotron' %>

    <div class="row">
      <div class="container" align="center">
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-4 col-lg-4">
          <h3>Sign up</h3>
          <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
<!--           <h4>Some text here...</h4>
          <p>Even more text here...</p> -->
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-4 col-lg-4">
          <h3>Make Your Picks</h3>
          <i class="fa fa-edit fa-5x" aria-hidden="true"></i>
<!--           <h4>Some text here...</h4>
          <p>Even more text here...</p> -->
        </div>
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0 col-md-4 col-lg-4">
          <h3>Win Big!</h3>
          <i class="fa fa-trophy fa-5x" aria-hidden="true"></i>
<!--           <h4>Some text here...</h4>
          <p>Even more text here...</p> -->
        </div>
      </div>
    </div>

    <hr>

   <div class="row">
      <div class="container">
          <p align="center"><a href="https://www.millionairebracketfantasyfootball.com/">MB Fantasy Football League, Inc.</a></p>
          <p align="center"><a href="mailto:charles@millionairebracket.com">Contact Us For More Information</a></p>
          <div class="container">
            <p align="center">
              <a href="https://www.facebook.com/millionairebracket"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/mbfantasyfootball/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
              <a href="https://twitter.com/MBfanfootball"><i class="fa fa-twitter fa-2x" aria-hidden="true"></a></i>
            </p>
          </div>
      </div>
   </div>

  </body>
</html>
