<%= simple_form_for(picks_url) do |f| %>
          <div class="form-inputs">
            <%= f.collection_select :draftee_id, Draftee.all, :id, :info, { prompt: "Select a College Prospect for this pick" }, input_html: { class: "dropdown-toggle" }   %>
            <%#= f.input :number, hint: 'The Prospects Overall Pick Number', collection: 1..64 %>
          </div>
          <div class="form-actions">
            <%#= f.button :submit %>
          </div>

<% end %>
