<h1>My Picks - Placeholder Text</h1>
<% @picks.each do |pick| %>
  <h2 class="todo_list_title"><%= pick.team.name %></h2>
  <p class="todo_list_title"><%#= pick.team.draftee.info %></p>
  <hr>
<% end %>
