<h1>ADD A NEW DRAFT PICK <small><span class="badge" style="color:white"><%= current_user.picks.count %></span></small></h1>

<% if current_user.picks.count < '32'.to_i %>

  <%= render 'form' %>

<% else %>

  <p>You've reached the max number of picks, but you can go back and edit existing ones.</p>

<% end %>

<%= link_to "Back", picks_path %>
